
@import "variables";
@import "fonts";
global-reset();

/**
 * 
 * 1. Global
 * 2. Header
 * 3. Footer
 * 4. Content
 * 
 */

/* 1. Global */
html {
	font-family: 'Futura-Bold', sans-serif;
	font-weight: normal;
}

/* 2. Header */
.block-header {
	position: relative;
	max-width: 1280px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	
	&__title {
		font-size: 32px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 85px 0 0;
	}
	
	&__btn-buy {
		display: block;
		width: 110px;
		height: 110px;

		background: reddish;
		border-radius: 50%;
		
		position: absolute;
		top: 40px;
		right: 0;
		
		&:hover {
			background: red;
		}
		
		&__link {
			display: table;
			height: 100%;
			text-decoration: none;
		}
		
		&__link_text {
			display: table-cell;
			vertical-align: middle;
			padding: 0 20px;

			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	
	&__link {
		position: absolute;
		top: 130px;
		left: 50%;
		transform: translateX(-50%);
		
		display: block;
		padding: 20px 40px;
		
		color: grey;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 14px;
		letter-spacing: 1px;
		
		&:hover {
			color: black;
		}
	}
	
	&__link_close {
		display: none;
	}
}

.block-select {
	display: none;
	position: absolute;
	left: 50%;
	top: 200px;
	transform: translateX(-50%);
	width: 500px;

	margin: 0;
	padding: 0 0 40px;
	list-style: none;
	background: white;
	
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	
	a {
		display: block;
		padding: 20px 0;
		color: grey;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 1px;
		
		&:hover {
			color: black;
		}
	}
}

/* 3. Footer */
.block-footer {
	height: 100px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: grey;
	font-size: 14px;
	
	&__text {
		padding-top: 45px;
		
		a {
			color: grey;
			text-decoration: none;
			
			&:hover {
				color: black;
			}
		}
	}
}

/* 4. Content */
.block-list {

}

.block-bike {
	height: 360px;
	padding: 80px 0 60px;
	text-align: center;
	
	&__details {
		margin-top: 45px;
		letter-spacing: 2px;
		text-transform: uppercase;
		
		&_flag {
			display: block;
			width: 24px;
			height: 24px;
			margin: 0 auto 20px;
			overflow: hidden;
			
			background: #ff0000;
		}
		&_title {
			font-size: 21px;
			margin-bottom: 13px;
		}
		&_subtitle {
			font-size: 14px;
		}
	}
}

